
.tile {
  padding: 30px;
  text-align: center;
  border-right: 1px solid #b1a7a6;
  height: 100%;
}
.tile_icon {
  font-size: 60px;
  color: #ba181b;
  margin-bottom: 20px;
}
.tile_header {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.tile_subHeader {
  font-size: 18px;
  margin-bottom: 10px;
}
.tile_text {
  font-size: 16px;
  color: #ba181b;
}
