.button {
  border: 1px solid #403d39;
  background-color: #660708;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
  cursor: pointer;
}
.button:hover,
.button:focus {
  opacity: 0.5;
}
.button_Text {
  color: #f5f3f4;
}
