.accordionCard {
    margin-top: 5px;
    margin-bottom: 10px;
}
.accordionCard_header {
  padding: 30px;
  border: 1px solid #b1a7a6;
  font-size: 20px;
  color: #ba181b;
  cursor: pointer;
}
.accordionCard_content {
    padding: 30px;
    border-bottom: 1px solid #b1a7a6;
    border-left: 1px solid #b1a7a6;
    border-right: 1px solid #b1a7a6;
    font-size: 16px;
}
.accordionCard:hover,
.accordionCard:focus {
  border-color: #ba181b;
}