@import "~bootstrap/scss/bootstrap";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
  background-color: hsl(330, 9%, 96%);
  color: #403d39;
}
#root {
  height: 100vh;
}
main {
  height: calc(100vh - 150px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.mainPanel {
  display: flex;
  width: 100%;
}
.mainPanel--center {
  align-items: center;
}

.mainPanel_Content {
  background-color:rgba(245, 243, 244, 0.88);
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.mainPanel_Content--center {
  padding: 30px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 50px;
}
section {
  padding: 10px;
}

.mainTitle,
.subTitle {
  text-align: center;
}
@import "./components//Navigation//Toolbar/Toolbar.scss";
@import "./components//Logo//Logo.scss";
@import "./components//UI//Tile/Tile.scss";
@import "./components//UI//Accordion/Accordion.scss";
@import "./components//UI/Gallery/Gallery.scss";
@import "./components//UI/Button/Button.scss";
@import "./components//WCAG/Wcag.scss";
