@import "~bootstrap/scss/bootstrap";

body {
  background-color: #f5f3f4;
  color: #403d39;
}
h1 {
  margin-top: 20px;
  margin-bottom: 70px;
}
a {
  color: #f5f3f4;
}
@import "./components//Navigation//Toolbar/Toolbar.scss";
@import "./components//Logo//Logo.scss";
@import "./components//UI//Tile/Tile.scss";
@import "./components//UI//Accordion/Accordion.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
